<link rel="stylesheet" href="/styles/nav.css" />
<nav class="navbar">
  <div>
    <a class="nav-names" href="/home"> Home </a>
    <a class="nav-names" href="/auth/register">Register</a>
    <a class="nav-names" href="/auth/login">Login</a>
    <a class="nav-names" href="/auth/logout">Logout</a>
  </div>
  <div class="navbar-menu navbar-end">
    <% if (typeof user !== 'undefined') { %>
    <p class="navbar-item"><%= user.username %></p>
    <% } %>
    <!-- routes -->
    <% if (typeof routes !== 'undefined') { %> <% routes.forEach((route) => { %>
    <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
    <% }) %> <% } %>
  </div>
</nav>
