<nav class="navbar">
  <div>
    <a href="/"> Home </a>
    <span> | </span>
    <a href="/Tweet">Tweet</a>
    <a href="/Register">Register for Twitter</a>
    <a href="/Login">Login to Twitter</a>
  </div>
</nav>
