<link rel="stylesheet" href="/styles/nav.css" />
<nav class="navbar">
    <a class="nav-names" href="/home"> Home </a>
    <a class="nav-names" href="/auth/register">Register</a>
    <a class="nav-names" href="/auth/login">Login</a>
    <a class="nav-names" href="/auth/logout">Logout</a>
</nav>
