<nav class="sideNavbar">
    <div>
      <a href="/home/"> <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" alt='logo' width = '150' height = '150'> </a>
      <div></div>
      <a href="/Tweet">Tweet</a>
      <div></div>
      <a href="/Register">Register for Twitter</a>
      <div></div>
      <a href="/Login">Login to Twitter</a>
    </div>
  </nav>
  