<!-- change href later -->
<nav class="sideNavbar">
    <ul class="navList">

        <li class="tweeterLogo">
            <a title="Home" href="/home/"><i class="fa-brands fa-twitter"></i></a>
        </li>

        <li class="homeIcon">
            <a href="/home"><i class="fa-solid fa-house" title="Home"></i></a>
        </li>

        <li class="logOutIcon">
            <a title="Logout" href="/auth/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>

        <li class="bookMarkIcon">
            <a href="/home/bookmarks"><i class="fa-regular fa-bookmark" title="Likes"></i></a>
        </li>

        <% const user=currentUser%>
            <li class="profileIcon">
                <a href="/auth/<%= user.id %>/editprofile"><i class="fa-regular fa-user" title="Profile"></i></a>
            </li>

            <li class="tweetIcon">
                <a title="Tweet" href="/home"><i class="fa-solid fa-circle-plus"></i></a>
            </li>
    </ul>
</nav>