<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "Twitter home" }) %>

<body>

    <%- include('partials/nav.ejs')%>

    <section>
        <div>
            <h2 class="title">All Tweets</h2>
        </div>
    </section>
    
    

    <main class="container">
        <div>
            <div>
                <% for(let idx=0; idx < tweets.length; idx++){ %>
                    <% const tweet=tweets[idx] %>

                <% } %>
            </div>
        </div>
    </main>
</body>

</html>