body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100%;
}

.show-html {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.show-page {
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100%;
}

.show-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 600px;
  height: 100vh;
  background-color: black;
}

.tweet-container {
  width: 600px;
  border-left: 1px solid rgb(70, 70, 70);
  border-right: 1px solid rgb(70, 70, 70);
}

.img-container {
  margin: none;
  padding: none;
  display: flex;
  justify-content: center;
}

.tweet-image {
  margin: none;
  padding: none;
  width: 450px;
  height: 400px;
  border-radius: 6%;
}

.like-retweet-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.content {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 36px;
  margin: 0 56px 8px 58px;
  color: white;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  font-size: 25px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: rgb(70, 70, 70);
  transition: 0.3s;
}

.like:hover {
  background-color: rgba(255, 78, 181, 0.164);
  border-radius: 50%;
  cursor: pointer;
  color: rgb(248, 61, 192);
}

.retweet {
  background: transparent;
  border: none;
}

.retweet i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  color: rgb(70, 70, 70);
  transition: 0.3s;
}

.retweet i:hover {
  background-color: rgba(1, 145, 1, 0.164);
  border-radius: 50%;
  color: rgb(0, 168, 0);
  cursor: pointer;
}

.comment-button {
  background: transparent;
  border: none;
}

.comment-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  color: rgb(70, 70, 70);
  transition: 0.3s;
}

.comment-button i:hover {
  background-color: rgba(47, 132, 201, 0.164);
  border-radius: 50%;
  color: rgb(0, 67, 250);
  cursor: pointer;
}

.retweet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.replying-to {
  margin-top: 10px;
  margin-left: 98px;
}

.show-tweet-text-container {
  display: flex;
  border-bottom: 1px solid rgb(70, 70, 70);
  margin-bottom: 15px;
}

.commentarea {
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  padding: 25px 10px 25px 0;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.comment-title {
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 10px 0 10px 0;
  text-decoration: underline;
}

.commentarea p {
  vertical-align: middle;
  text-align: center;
}

.commentButton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #1da1f2;
  border-radius: 60px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border: none;
  transition: 0.3s;
  margin-right: 10px;
}

.commentButton:hover {
  cursor: pointer;
  background-color: #00abeebe;
}

.comment-button-container {
  display: flex;
  justify-content: end;
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid rgb(70, 70, 70);
}

#show-content {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 450px;
  font-size: 26px;
  padding: 20px 2px 20px 0;
  display: inline-block;
  resize: none;
  overflow: hidden;
  transition: 0.35s;
}

#show-content:focus {
  outline: none;
  border-bottom: 2px solid #1da1f2;
}

.show-tweet-text-container {
  display: flex;
  border: none;
  border-bottom: 1px solid rgb(70, 70, 70);
  padding: 10px 0 10px 0;
}

.number-likes {
  color: rgb(80, 80, 80);
}
