body {
  background-color: black;
}

.home-body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

#title {
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.sideNavbar {
  position: fixed;
  font-size: 36px;
  width: 100px;
  text-align: center;
  vertical-align: center;
  color: white;
}

.sideNavbar li {
  height: 100px;
}

.sideNavbar a {
  color: white;
  padding: 15px;
  transition: 0.3s;
  border-radius: 50%;
}

.sideNavbar a:hover {
  color: white;
  background-color: rgb(37, 37, 37);
}

.tweeterLogo {
  margin-top: 15px;
}

.tweetIcon img {
  height: 60px;
  width: 60px;
  border-radius: 29px;
}

.tweetIcon a:hover {
  background: none;
}

.homeMainContent {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 600px;
  justify-content: center;
  height: 100%;
}

.twitter-home-container {
  width: 600px;
  border-left: 1px solid rgb(70, 70, 70);
  border-right: 1px solid rgb(70, 70, 70);
}

.card-image {
  width: 370px;
  height: 300px;
  border-radius: 6%;
}

#content {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  border: none;
  width: 450px;
  font-size: 26px;
  padding: 20px 2px 20px 0;
  display: inline-block;
  resize: none;
  height: 70px;
  overflow: hidden;
}

.tweet-text-container {
  display: flex;
  border-bottom: 1px solid rgb(70, 70, 70);
  margin-bottom: 15px;
  padding: 10px 0 10px 0;
}

#content:focus {
  outline: none;
}

.tweetButton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #00acee;
  border-radius: 60px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border: none;
  transition: 0.3s;
  margin-right: 10px;
}

.tweetButton:hover {
  cursor: pointer;
  background-color: #00abeebe;
}

.profile-image {
  width: 56px;
  height: 56px;
  margin: 0 20px 0 20px;
  border-radius: 50%;
}

.image-input {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  margin-right: auto;
  float: left;
  width: 50vw;
  margin-left: 51px;
}

.image-input::placeholder {
  color: white;
  opacity: 0.6;
}

.image-input:focus {
  outline: none;
}

.image-tweet-button {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgb(70, 70, 70);
  padding-bottom: 15px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 110px 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 28px;
  margin: 10px 71px 0 72px;
}

.auto_height {
  /* CSS */
  width: 100%;
}
.likesContent {
  color: whitesmoke;
}
.title {
  color: whitesmoke;
}

.likes-display {
  text-align: center;
}

.tweetPic-user {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.tweetPic-user small {
  margin-left: 10px;
}

.modal {
  height: 30%;
  width: 30%;
  background-color: white;
}

.bookmarks-title {
  font-size: 32px;
  font-weight: 700;
  margin: 5px 0 5px 0;
}