body {
  background-color: black;
}

.home-body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#title {
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.sideNavbar {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 8%;
  top: 10%
  
}

.homeMainContent {
  background-color: black;
  display: grid;
  justify-content: center;
  height: 100%;
}

.twitter-home-container {
  width: 600px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.card-image {
  width: 450px;
  height: 400px;
  border-radius: 6%;
}

#content {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  border: none;
  width: 450px;
  font-size: 26px;
  padding: 20px 2px 20px 0;
  display: inline-block;
  resize: none;
  height: 80px;
  overflow: hidden;
}

.tweet-text-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  padding: 10px 0 10px 0;
}

#content:focus {
  outline: none;
}

.tweetButton {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #00acee;
  border-radius: 60px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border: none;
  transition: 0.3s;
  margin-right: 10px;
}

.tweetButton:hover {
  cursor: pointer;
  background-color: #00abeebe;
}

.profile-image {
  width: 56px;
  height: 56px;
  margin: 0 20px 0 20px;
  border-radius: 50%;
}

.image-input {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  margin-right: auto;
  float: left;
  width: 50vw;
  margin-left: 51px;
}

.image-input::placeholder {
  color: white;
  opacity: .6;
}

.image-input:focus {
  outline: none;
}

.image-tweet-button {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-text {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 28px;
    margin: 10px 71px 0 72px;
}

.auto_height { /* CSS */
  width: 100%;
}