/* Setting every page's default background to black */
body {
  background-color: black;
}

/* Side Navbar styling */
.sideNavbar {
  position: fixed;
  font-size: 36px;
  width: 100px;
  text-align: center;
  vertical-align: center;
  color: white;
}

.sideNavbar li {
  height: 100px;
}

.sideNavbar a {
  color: white;
  padding: 15px;
  transition: 0.35s;
  border-radius: 50%;
}

.sideNavbar a:hover {
  color: #1DA1F2;
}

/* Home page styling */
.home-body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

#title {
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.tweeterLogo {
  margin-top: 15px;
}

.homeMainContent {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 600px;
  justify-content: center;
  height: 100%;
}

.twitter-home-container {
  width: 600px;
  border-left: 1px solid rgb(70, 70, 70);
  border-right: 1px solid rgb(70, 70, 70);
}

.card-image {
  width: 370px;
  height: 300px;
  border-radius: 6%;
}

#content {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 450px;
  font-size: 26px;
  padding: 20px 2px 20px 0;
  display: inline-block;
  resize: none;
  overflow: hidden;
  transition: .35s;
}

.tweet-text-container {
  display: flex;
  border-bottom: 1px solid rgb(70, 70, 70);
  margin-bottom: 15px;
  padding: 10px 0 10px 0;
}

#content:focus {
  outline: none;
  border-bottom: 2px solid #1DA1F2;
}

.tweetButton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #1DA1F2;
  border-radius: 60px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 6px 20px 6px 20px;
  border: none;
  transition: 0.3s;
  margin-right: 10px;
}

.tweetButton:hover {
  cursor: pointer;
  background-color: #00abeebe;
}

.profile-image {
  width: 56px;
  height: 56px;
  margin: 0 20px 0 20px;
  border-radius: 50%;
}

.image-input {
  background-color: black;
  border: none;
  border-bottom: 2px solid black;
  color: white;
  font-size: 16px;
  margin-right: auto;
  float: left;
  width: 20vw;
  margin-left: 24px;
  transition: .35s;
}

.image-input::placeholder {
  color: white;
  opacity: 0.6;
}

.image-input:focus {
  outline: none;
  border-bottom: 2px solid #1DA1F2;
}

.image-tweet-button {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgb(70, 70, 70);
  padding-bottom: 15px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 110px 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet-text {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 28px;
  margin: 0 71px 0 96px;
  color: white;
}

.tweetPic-user {
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: white;
}

.username {
  margin-right: 10px;
}

.tweetPic-user small {
  margin-left: 10px;
}

.home-like-retweet-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.clickable-container {

  transition: 0.2s;

  transition: .45s;

}

.clickable-container:hover {
  background-color: rgba(43, 43, 43, 0.65);
}

/* Styling bookmarks page */
.bookmarks-title {
  font-size: 32px;
  font-weight: 700;
  margin: 5px 0 5px 0;
}

.likes-display {
  text-align: center;
}


/* Styling Edit Profile page */
.profile {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 600px;
  justify-content: center;
  height: 100vh;
}

.buttonprofile {
  appearance: none;
  background-color: #000000;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  will-change: transform;
}

.buttonprofile:disabled {
  pointer-events: none;
}

.buttonprofile:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttonprofile:active {
  box-shadow: none;
  transform: translateY(0);
}


